.menu {
    position: fixed;
    top: 0;
    right: -220px; /* Ajustado para dejar espacio adicional */
    width: 220px; /* Ajustado para dejar espacio adicional */
    height: 100%;
    background-color: #333; /* Cambiado a un color más oscuro */
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4); /* Aumentada la sombra */
    transition: right 0.3s ease;
}

.menu a {
    display: block;
    margin-bottom: 15px; /* Aumentado el margen entre enlaces */
    color: #fff; /* Cambiado el color del texto a blanco */
    text-decoration: none;
    font-size: 18px; /* Aumentado el tamaño del texto */
}
  
.menu a:hover {
    color: #ccc; /* Cambiado el color del texto al pasar el cursor */
}

.menu.hidden {
    right: -220px; /* Asegura que el menú esté completamente escondido */
}
  